
    <nav>
        <div class="nav nav-tabs mt-5 justify-content-end" id="nav-tab" role="tablist">
            <a class="nav-item nav-link active" data-toggle="tab" href="#nav-upcoming" role="tab" aria-controls="nav-upcoming" aria-selected="true">Upcoming</a>
            <a class="nav-item nav-link" data-toggle="tab" role="tab" href="#nav-past" aria-controls="nav-past" aria-selected="false">Past</a>
            <a class="nav-item nav-link" data-toggle="tab" role="tab" href="#nav-noShow" aria-controls="nav-noShow" aria-selected="false">No Show</a>
        </div>
    </nav>
        <div class="upcoming-table text-center hide-btn" id="upcoming-table">
            <div class="table-responsive p-3" id="appt-list-table-div">
                <table class="table table-bordered dt-responsive" width="100%" id="appt-list-table">
                    <thead>
                        <tr>
                            <th>Full Name</th>
                            <th>NRIC</th>
                            <th>Phone Number</th>
                            <th>Date</th>
                            <th>Slot</th>
                            <th>Service</th>
                            <th>Status</th>
                            <th>Action</th>
                        </tr>
                    </thead>
                </table>
            </div>
        </div>
        <div class="past-table text-center hide-btn" id="past-table">
            <div class="table-responsive p-3" id="appt-list-table-div">
                <table class="table table-bordered dt-responsive" width="100%" id="past-appt-list-table">
                    <thead>
                        <tr>
                            <th>Full Name</th>
                            <th>NRIC</th>
                            <th>Phone Number</th>
                            <th>Date</th>
                            <th>Slot</th>
                            <th>Service</th>
                            <th>Status</th>
                            <th>Action</th>
                        </tr>
                    </thead>
                </table>
            </div>
        </div>
        <div class="noShow-table text-center hide-btn" id="noShow-table">
            <div class="table-responsive p-3" id="appt-list-table-div">
                <table class="table table-bordered dt-responsive" width="100%" id="no-show-appt-list-table">
                    <thead>
                        <tr>
                            <th>Full Name</th>
                            <th>NRIC</th>
                            <th>Phone Number</th>
                            <th>Date</th>
                            <th>Slot</th>
                            <th>Service</th>
                            <th>Status</th>
                            <th>Action</th>
                        </tr>
                    </thead>
                </table>
            </div>
        </div>
