@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}
    <div class="float-right m-3">
        <button type="button" class="btn btn-secondary" data-toggle="modal" data-target=".bd-example-modal-xl">Create</button>
    </div>
