

    <div class="text-center">
        <div class="table-responsive p-3" id="patientUser-list-table-div">
            <table class="table table-bordered dt-responsive" width="100%" id="specialHoliday-list-table">
                <thead>
                    <tr>
                        <th>ID</th>
                        <th>Description</th>
                        <th>Date</th>
                    </tr>
                </thead>
            </table>
        </div>
    </div>
